@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c6daf0;
  width: 100%;
  height:inherit;
  overflow-x: hidden;
  margin: 0;
  font-family: "Neucha";
}

.main h1 {
  position: relative;
  background-color: white;
  border-radius: 25px;

  width: 23vw;
  min-width: 250px;
  height: 6rem;
  
  font-size: 5rem;
  padding: 1.5rem;
  letter-spacing: 10px;
}

.main h1 span {
  position: absolute;
  line-height: 1.5;
  text-indent: 5%;
  z-index: 2;
}

.triangle {
  position: absolute;
  border-bottom: 100px solid red;
  border-left: 200px solid transparent;
  width: 0;

  z-index: 1;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 1350px) {
  .main h1 {
    width: 25%;
    min-width: 250px;
    height: 4.5rem;
    
    font-size: 4rem;
    padding: 1.5rem;
    letter-spacing: 8px;
  }

  .main h1 span {
  text-indent: 5%;

  }
}

.main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 600px;
  height: 600px;
  border-radius: 10px;
  margin: 25px;
  position: relative;
  padding: 5px;
}
@media only screen and (max-width: 1080px) {
  .main form {
    width: 95%;
  }
}


@media only screen and (max-width: 500px) {
  .main form {
    width: 95%;
  }
} 

.main textarea {
  height: 90%;
  min-width: 200px;
  width: 90%;
  margin: 5px;
  padding: 15px;
  font-size: larger;
  line-height: 49px;
  white-space: pre-wrap;
  overflow-wrap: anywhere!important;
  overflow: auto;
  padding: 1em;  
  border-radius: 5px;
}

.main button {
  text-transform:uppercase;
  color: white;
  background-color: rgba(249, 0, 0, 0.859);
  font-weight: bold;
  border-radius: 3px;
  height: 40px;
}

.main button:active {
    transform: scale(0.8);
    transition: 0.3s;
    box-shadow: 0 0 5px black;
  }


.main li {
  line-height: 30px;
  font-size: 1.5rem;
}

.message {
  color: rgb(5, 4, 4);
  position: absolute;
  z-index: 1;
  width: 90%;
  padding: 15px;
  bottom: 40px;
  font-size: 1.5em;
}

.error {
  color: red;
  position: absolute;
  z-index: 1;
  width: 90%;
  padding: 15px;
  bottom: 40px;
  font-size: 1.5em;
}