.main {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 10px;

  width: 200px;
  height: 50px;

  background-color: black;
  border-top-left-radius: 10px;

  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  color: antiquewhite;

  transition: 0.3s;

}

.main:hover {
  background-color: red;
  color: white;
  transition: 0.3s;
}

.focused {
  position: absolute;
  z-index: 3;
  right: 20px;
  bottom: 0;
  padding: 25px;

  font-family: 'Courier New', Courier, monospace;


  width: 500px;
  height: 500px;

  background-color: whitesmoke;
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-style: solid;
  border-color: black;
  border-width: 5px;

  transition: 0.3s;
}

@media only screen and (max-width: 1080px) {
  .main {
    position: fixed;
    z-index: 3;

    right: 0;
    bottom: 60px;

    width: 160px;
    height: 20px;
    transition: 0.3;

    border-bottom-left-radius: 10px;
    border-style: solid;
    border-color:  #c6daf0;

    font-size: 1.5rem;

  }

  .main:hover {
    background-color: red;
    color: white;
    transition: 0.4s;
  }

  .focused {
    width: 80vw;
    height: 70vh;
  }
}

@media only screen and (max-width: 428px) {
  .main {
    position: fixed;
    right: 0;
    bottom: 20px;
    padding: 10px;
  
    width: 100px;
    height: 15px;
  
    background-color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    color: antiquewhite;
  
    transition: 0.5s;
    z-index: 3;
  }
  
  .main:hover {
    background-color: red;
    color: white;
    transition: 0.4s;
  }
  
  .focused {
    position: absolute;
    z-index: 3;
    right: 1%;
    bottom: 2%;
    padding: 25px;
  
    font-family: 'Courier New', Courier, monospace;
  
  
    width: 345px;
    height: 1000px;
  
    background-color: whitesmoke;
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-style: solid;
    border-color: black;
    border-width: 5px;
  
    transition: 0.2s;
  }
}
