.main {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 100px;
  height: 100px;

  background-color: red;
 
}

.focused {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 100px;
  height: 100px;

  background-color: blue;
  overflow-x: hidden;
  overflow-y: scroll;
}